@model OnlineWatches.Models.Watch

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Watch</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Year"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="Name" class="form-control" />
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="Price" class="form-control" />
                        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="Year" class="form-control" />
                        @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                    
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row p-5">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="create" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>