@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager

	@*here if the user is signed it (admin and user regardless) the logout button shows*@
@if (signInManager.IsSignedIn(User))
{
	<form method="post" id="logoutForm" asp-action="LogOff" asp-controller="Account">
		<ul class="nav navbar-nav">

			@*i removed this because it didnt look good on the navbar i created a special view for displaying account info
				<li class="nav-link" >Hello @User.Identity.Name! </li>
			 *@
			
			<li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()"> Log Out</a> </li>
			
		</ul>
	</form>
}
else
{@*here if the user is not signed in the register and login buttons show*@
	<ul class="nav navbar-nav">
		<li>
			@Html.ActionLink("Register", "Register",
						"Account", routeValues: null,
						htmlAttributes: new { id = "registerLink", style = "text-decoration: none; color: inherit; margin-right:10px" })
		</li>

		<li>
			@Html.ActionLink("Sign in", "Login", "Account",
						routeValues: null,
						htmlAttributes: new { id = "loginLink", style = "text-decoration: none; color: inherit;" })
		</li>
	</ul>
}