@model OnlineWatches.ViewModels.UserInfoViewModel

<h2>User Information</h2>



<div>
    <strong>Name:</strong> @Model.Name
</div>
<div>
    <strong>Email:</strong> @Model.Email
</div>
<div>
    <strong>Role:</strong> @Model.RoleName
</div>
<div>
    <strong>Password:</strong> @Model.Password
</div>
